name: Check Standard Adherence
env:
  POPTUS_PKG:      ${{ github.workspace }}/poptus_pypkg
  GH_ACTIONS_PATH: ${{ github.workspace }}/.github/workflows
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # Prefer using the latest Python version supported by the package
  check_standards:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout POptUS repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.14
      - name: Setup Python with tox
        run: $GH_ACTIONS_PATH/setup_tox_github_action.sh ${{ runner.os }}
      - name: Check coding standards
        run: |
          pushd $POPTUS_PKG
          tox -r -e check
          popd
