name: Measure Code Coverage
env:
  CLONE_PATH:      ${{ github.workspace }}
  POPTUS_PKG:      ${{ github.workspace }}/poptus_pypkg
  GH_ACTIONS_PATH: ${{ github.workspace }}/.github/workflows
  COV_FILE:        coverage
  COV_XML_FILE:    cobertura.xml
  COV_HTML_FILE:   htmlcov
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # Prefer using the latest Python version supported by the package
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout POptUS repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.14
      - name: Setup Python with tox
        run: $GH_ACTIONS_PATH/setup_tox_github_action.sh ${{ runner.os }}

      - name: Measure coverage & generate reports
        run: |
          pushd $POPTUS_PKG
          COVERAGE_FILE=$COV_FILE COVERAGE_XML=$COV_XML_FILE COVERAGE_HTML=$COV_HTML_FILE tox -r -e coverage,report
          mv $COV_FILE $CLONE_PATH
          mv $COV_XML_FILE $CLONE_PATH
          mv $COV_HTML_FILE $CLONE_PATH
          popd

      - name: Archive coverage results
        uses: actions/upload-artifact@v4
        with:
          name: poptus-coverage-results
          path: |
             ${{ env.COV_FILE }}
             ${{ env.COV_XML_FILE }}
             ${{ env.COV_HTML_FILE }}

  publish:
    needs: [coverage]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Access coverage reports
        uses: actions/download-artifact@v4
        with:
          name: poptus-coverage-results
          path: ${{ env.CLONE_PATH }}
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: |
            ${{ env.CLONE_PATH }}/${{ env.COV_XML_FILE }}
          fail_ci_if_error: true
